<!DOCTYPE html>
<html>
  <head>
    <title>Phones</title>
  </head>
  <body>
  	<table>
  		<thead>
  		</thead>
  		<tr>
  			<td>
  				Телефон
  			</td>
  			<td>
				Текст сообщения
  			</td>
  			<td>Время отправки</td>
  		</tr>
  		<tbody>
			<% phones.map(function(phone){ %>
			   <tr>
					<td><%= phone.phone %></td>
					<td><%= phone.text %></td>
					<td><%= new Date(phone.time) %></td>
			   </tr>
			<% }); %>
		</tbody>
  	</table>
  </body>
</html>
